* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

.App {
  display: grid;
  grid-template-columns: 12rem auto;
  background: linear-gradient(150deg, #000000, #2d3436);
  height: 100vh;
}
/* .App:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(150deg, #000000, #2d3436) center center / cover no-repeat fixed;
  z-index: -1;
} */

a {
  text-decoration: none;
}

input,
label {
  color: black;
}
